@(users: Iterable[models.User])

@main("All Users") {
    <h2>All Users</h2>
    @if(users.isEmpty) {
        <p>No Users found</p>
    } else {
        <u1>
            @for(user <- users) {
                <h3>User @user.firstname</h3>
                <li>@user.username @user.firstname @user.lastname @user.email
                    <a href="@routes.Users.edit(user.id)">Edit</a>
                    
                </li>
            }
        </u1>
    }
    <a href="@routes.Users.add">Add a new user</a>    
}